<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icenotu.dao.BuyOrderDetailMapper" >
  <resultMap id="BuyOrderDetailResultMap" type="com.icenotu.entity.BuyOrderDetail" >
    <id column="bod_id" property="bodId" jdbcType="VARCHAR" />
    <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_unit" property="goodsUnit" jdbcType="VARCHAR" />
    <result column="goods_type" property="goodsType" jdbcType="VARCHAR" />
    <result column="goods_color" property="goodsColor" jdbcType="VARCHAR" />
    <result column="bod_amount" property="bodAmount" jdbcType="INTEGER" />
    <result column="bod_buy_price" property="bodBuyPrice" jdbcType="DECIMAL" />
    <result column="bod_total_price" property="bodTotalPrice" jdbcType="DECIMAL" />
    <result column="bo_id" property="boId" jdbcType="VARCHAR" />
    <result column="bod_imei_list" property="bodImeiList" jdbcType="LONGVARCHAR" />
  </resultMap>
  <!--<resultMap id="ResultMapWithBLOBs" type="com.icenotu.entity.BuyOrderDetail" extends="BaseResultMap" >
    <result column="bod_imei_list" property="bodImeiList" jdbcType="LONGVARCHAR" />
  </resultMap>-->
  <sql id="BuyOrderDetail_Column_List" >
    bod_id, goods_id, goods_name, goods_unit, goods_type, goods_color, bod_amount, bod_buy_price, 
    bod_total_price, bo_id, bod_imei_list
  </sql>
  <insert id="insertList">
    insert into buy_order_detail (bod_id, goods_id, goods_name,
    goods_unit, goods_type, goods_color,
    bod_amount, bod_buy_price, bod_total_price,
    bo_id, bod_imei_list)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.bodId,jdbcType=VARCHAR}, #{item.goodsId,jdbcType=VARCHAR}, #{item.goodsName,jdbcType=VARCHAR},
    #{item.goodsUnit,jdbcType=VARCHAR}, #{item.goodsType,jdbcType=VARCHAR}, #{item.goodsColor,jdbcType=VARCHAR},
    #{item.bodAmount,jdbcType=INTEGER}, #{item.bodBuyPrice,jdbcType=DECIMAL}, #{item.bodTotalPrice,jdbcType=DECIMAL},
    #{item.boId,jdbcType=VARCHAR}, #{item.bodImeiList,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>

  <select id="selectWithCondition" parameterType="PageData" resultMap="BuyOrderDetailResultMap">
    SELECT <include refid="BuyOrderDetail_Column_List"/> FROM buy_order_detail
    <where>
      bo_id = #{orderId}
      <if test="keyword!='%%'">
        AND(
        goods_name  LIKE #{keyword}
        OR goods_unit  LIKE #{keyword}
        OR goods_type  LIKE #{keyword}
        OR goods_color  LIKE #{keyword}
        OR bod_amount  LIKE #{keyword}
        OR bod_buy_price LIKE #{keyword}
        OR bod_total_price LIKE #{keyword}
        OR bod_imei_list LIKE #{keyword}
        )
      </if>
    </where>
    limit #{start},#{length};
  </select>

  <select id="selectCountWithCondition" parameterType="PageData" resultType="Integer">
    SELECT count(1) FROM buy_order_detail
    <where>
      bo_id = #{orderId}
      <if test="keyword!='%%'">
        AND(
        goods_name  LIKE #{keyword}
        OR goods_unit  LIKE #{keyword}
        OR goods_type  LIKE #{keyword}
        OR goods_color  LIKE #{keyword}
        OR bod_amount  LIKE #{keyword}
        OR bod_buy_price LIKE #{keyword}
        OR bod_total_price LIKE #{keyword}
        OR bod_imei_list LIKE #{keyword}
        )
      </if>
    </where>
  </select>
  <!--<sql id="Blob_Column_List" >
    bod_imei_list
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from buy_order_detail
    where bod_id = #{bodId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from buy_order_detail
    where bod_id = #{bodId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.icenotu.entity.BuyOrderDetail" >
    insert into buy_order_detail (bod_id, goods_id, goods_name, 
      goods_unit, goods_type, goods_color, 
      bod_amount, bod_buy_price, bod_total_price, 
      bo_id, bod_imei_list)
    values (#{bodId,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, 
      #{goodsUnit,jdbcType=VARCHAR}, #{goodsType,jdbcType=VARCHAR}, #{goodsColor,jdbcType=VARCHAR}, 
      #{bodAmount,jdbcType=INTEGER}, #{bodBuyPrice,jdbcType=DECIMAL}, #{bodTotalPrice,jdbcType=DECIMAL}, 
      #{orderId,jdbcType=VARCHAR}, #{bodImeiList,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.icenotu.entity.BuyOrderDetail" >
    insert into buy_order_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bodId != null" >
        bod_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsUnit != null" >
        goods_unit,
      </if>
      <if test="goodsType != null" >
        goods_type,
      </if>
      <if test="goodsColor != null" >
        goods_color,
      </if>
      <if test="bodAmount != null" >
        bod_amount,
      </if>
      <if test="bodBuyPrice != null" >
        bod_buy_price,
      </if>
      <if test="bodTotalPrice != null" >
        bod_total_price,
      </if>
      <if test="orderId != null" >
        bo_id,
      </if>
      <if test="bodImeiList != null" >
        bod_imei_list,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bodId != null" >
        #{bodId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsUnit != null" >
        #{goodsUnit,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="goodsColor != null" >
        #{goodsColor,jdbcType=VARCHAR},
      </if>
      <if test="bodAmount != null" >
        #{bodAmount,jdbcType=INTEGER},
      </if>
      <if test="bodBuyPrice != null" >
        #{bodBuyPrice,jdbcType=DECIMAL},
      </if>
      <if test="bodTotalPrice != null" >
        #{bodTotalPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="bodImeiList != null" >
        #{bodImeiList,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.icenotu.entity.BuyOrderDetail" >
    update buy_order_detail
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsUnit != null" >
        goods_unit = #{goodsUnit,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        goods_type = #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="goodsColor != null" >
        goods_color = #{goodsColor,jdbcType=VARCHAR},
      </if>
      <if test="bodAmount != null" >
        bod_amount = #{bodAmount,jdbcType=INTEGER},
      </if>
      <if test="bodBuyPrice != null" >
        bod_buy_price = #{bodBuyPrice,jdbcType=DECIMAL},
      </if>
      <if test="bodTotalPrice != null" >
        bod_total_price = #{bodTotalPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderId != null" >
        bo_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="bodImeiList != null" >
        bod_imei_list = #{bodImeiList,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where bod_id = #{bodId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.icenotu.entity.BuyOrderDetail" >
    update buy_order_detail
    set goods_id = #{goodsId,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_unit = #{goodsUnit,jdbcType=VARCHAR},
      goods_type = #{goodsType,jdbcType=VARCHAR},
      goods_color = #{goodsColor,jdbcType=VARCHAR},
      bod_amount = #{bodAmount,jdbcType=INTEGER},
      bod_buy_price = #{bodBuyPrice,jdbcType=DECIMAL},
      bod_total_price = #{bodTotalPrice,jdbcType=DECIMAL},
      bo_id = #{orderId,jdbcType=VARCHAR},
      bod_imei_list = #{bodImeiList,jdbcType=LONGVARCHAR}
    where bod_id = #{bodId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.icenotu.entity.BuyOrderDetail" >
    update buy_order_detail
    set goods_id = #{goodsId,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_unit = #{goodsUnit,jdbcType=VARCHAR},
      goods_type = #{goodsType,jdbcType=VARCHAR},
      goods_color = #{goodsColor,jdbcType=VARCHAR},
      bod_amount = #{bodAmount,jdbcType=INTEGER},
      bod_buy_price = #{bodBuyPrice,jdbcType=DECIMAL},
      bod_total_price = #{bodTotalPrice,jdbcType=DECIMAL},
      bo_id = #{orderId,jdbcType=VARCHAR}
    where bod_id = #{bodId,jdbcType=VARCHAR}
  </update>-->
</mapper>